[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/colors-vividchalk"]
	path = .vim/bundle/colors-vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
[submodule ".vim/bundle/coffee-script"]
	path = .vim/bundle/coffee-script
	url = http://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = http://github.com/vim-scripts/vimwiki.git
[submodule ".vim/bundle/unimpared"]
	path = .vim/bundle/unimpared
	url = http://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = http://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = http://github.com/kien/ctrlp.vim.git
[submodule "bin/drushdist"]
	path = bin/drushdist
	url = http://git.drupal.org/project/drush.git
[submodule ".vim/bundle/mru"]
	path = .vim/bundle/mru
	url = http://github.com/vim-scripts/mru.vim.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule "bin/gitflow"]
	path = bin/gitflow
	url = http://github.com/nvie/gitflow.git
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = http://github.com/terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = http://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = http://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = http://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = http://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/vim-twig"]
	path = .vim/bundle/vim-twig
	url = http://github.com/evidens/vim-twig.git
[submodule ".bash_it"]
	path = .bash_it
	url = git@github.com:dlip/bash-it.git
