/*

!/bin
!/configs
!/.bash
!/.moc
!/.ssh
!/.vim
!/.xmonad

!/.ackrc
!/.bash_profile
!/.bashrc
!/.ctags
!/.gitconfig
!/.gitignore
!/.gitmodules
!/.inputrc
!/.lesskey
!/.vimrc
!/.vrapperrc
!/.vsvimrc
!/.Xmodmap
