/*

!/bin
!/configs
!/.bash
!/.bash_it
!/.emacs.d
!/.moc
!/.oh-my-zsh
!/.ssh
!/.vim
!/.xmonad

!/.ackrc
!/.bash_profile
!/.bashrc
!/.bashrc.bak
!/.ctags
!/.emacs
!/.gitconfig
!/.gitignore
!/.gitmodules
!/.inputrc
!/.lesskey
!/.vimrc
!/.vrapperrc
!/.vsvimrc
!/.Xmodmap
!/.zshrc
